footer {
    text-align: center;
    color: dodgerblue;
    text-decoration: none;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d4d4d4;
  }

  .nav-link {
    color: cyan;
  }

  body {
    position: relative;
    background-color: #d4d4d4;
  }
  
  #hero-section {
    background-image: url("/static/img/hero.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 10%;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 5px dodgerblue;
  }
  
  h2 {
    text-shadow: 2px 2px 5px darkblue;
  }
  
  .headshot {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid dodgerblue;
  }
  
  p {
    padding-top: 50px;
  }
  
  section#mission-section-target {
    background-color: #d4d4d4;
    padding: 10px;
  }
  
  #mission {
    text-shadow: 2px 2px 5px dimgray;
  }
  
  #caplet::first-letter {
    font-size: 30px;
    color: red;
    font-weight: 350;
  }
  
  .missimg {
    height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
  }
  
  .missimg:hover {
    /* transform: scale(1.3) translateX(50px); */
    transform: rotate(360deg);
    transition-duration: 1s;
  }
  
  section#skills-section-target {
    background-color: #d4d4d4;
    padding: 10px;
  }
  
  .icon:hover {
    color: red;
  }
  
  section#contact-section-target {
    background-color: #d4d4d4;
    padding: 10px 25px;
  }
  
  #contact {
    text-shadow: 2px 2px 5px dimgray;
  }
  
  #mission-target,
  #skills-target,
  #contact-target {
    position: relative;
    top: -100px;
  }
  
  /* a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: cyan;
    background-color: transparent;
    text-decoration: none;
  } */
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  /* a:active {
    color: white;
    background-color: transparent;
    text-decoration: underline;
  } */
  
  .carousel-item img {
    object-fit: fill;
    object-position: center;
    height: 40vh;
    overflow: hidden;
  }
  
  .carousel-item:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }
  
  .carousel-caption {
    z-index: 1;
    color: lime;
  }