{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}

<!-- Mission/Meet-me section -->
    
    <section class="container-fluid container-lg mt-4" id="mission-section-target">
      <h2 class="text-center" id="mission">
        <i class="bi bi-rocket-takeoff">About</i>
      </h2>
      <div class="row">
        <div class="col-md-6">
          <img class="missimg" src="static/img/kobe.jpeg" alt="fitness image" />
            </div>
            <div class="col-md-6 mb-4">
              <p id="caplet" class="text-center">
                  I am learning everything from HTML 5, CSS 3, Bootstrap, and JavaScript soon. I am certified in Python from the Python Institute which is 
                  my go to language when it comes to the backend of making websites. I currently have this site live as you see and I have done 4 web applications in school so far and can't wait to 
                  become an asset for ay company willing to take a risk on me!!!</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}