<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="milestone" content="Portfolio" />
        <!-- TODO: Replace this with your title -->
        <title>Web Designer Chris Scholl</title>
        <!-- 
                TODO: Add Bootstrap CSS link tag from: 
          https://getbootstrap.com/
            -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
          crossorigin="anonymous"
        />
        <!-- 
                TODO: Add Bootstrap Icons link tag from: 
                https://icons.getbootstrap.com/
                (Remember, the CDN link is towards the bottom of the page!)
            -->
        <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
        />
        <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
        <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <!-- Custom styles (these can extend the default Bootstrap styles) -->
        <link href="static/css/styles.css" rel="stylesheet" type="text/css" />
      </head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-warning">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Chris Scholl</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/skills">Skills</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/experience">Experience</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>


    <!-- Contact Section -->
    <section id="contact-section-target">
      <div class="container">
        <h2 class="text-center" id="contact">
          <i class="bi bi-telephone-forward">  Contact Me</i>
          <br>
        </h2>
        <div class="row">
          <div class="col-md-3 mb-4">
            <div class="icon"><i class="bi bi-github h1"></i>
              <p>Here is the <a href="https://github.com/chrisscholl16">LINK </a>to my Github profile</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="icon"><i class="bi bi-linkedin h1"></i>
              <p>Follow this <a href="https://www.linkedin.com/in/chris-scholl-webdesigner">LINK </a>to go to my LinkedIn page</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="icon"><i class="bi bi-envelope-at-fill h1"></i>
              <p>Send me an <a href="mailto:chscholl@asu.edu">EMAIL</a> at chscholl@asu.edu for all questions, big or small</p>
            </div>
          </div>
          <div class="col-md-3 mb-4">
            <div class="icon"><i class="bi bi-phone-vibrate h1"></i>
              <p><a href="tel:+13173139067">Call</a> or text me at (317) 313-9067 for all questions, big or small</p>
            </div>
          </div>
    </section>

    
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>

   <section id="footer-section">
      <footer text-align="center">
        &copy ChrisScholl WebDesign 2025&trade;
        <a href="https://www.facebook.com" class="fa fa-facebook"></a>
        <a href="https://x.com" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com" class="fa fa-instagram"></a>
        <a
          href="https://www.linkedin.com/in/chris-scholl-webdesigner"
          class="fa fa-linkedin"
        ></a>
      </footer>
    </section>
</body>
</html>