{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}

    <!-- Hero section -->
    <section id="hero-section">
      <div class="parent">
        <img
          class="headshot"
          class="img-fluid"
          src="static/img/headshot.png"
          alt="headshot"
        />
        <h1>Chris Scholl</h1>
        <p>Websites have became my passion ever since I took my first class on it <br>
        Full-Stack Web Development major at Arizona State University <br>
      </p>
      </div>
    </section>   

    
    {% endblock %}