{% extends "base.html" %}
{% block title %}Index Page{% endblock %}

{% block content %}

<!-- Skills section -->
    <section id="skills-section-target">
      <div class="container">
      <h2 class="text-center">
        <i class="bi bi-tools">   My Skills</i>
      </h2>
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="icon">HTML<i class="fa fa-html5 fa-2x" aria-hidden="true"></i>
            <p>
              Structuring the web framework for frontend websites. All the words and the locations on web pages.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="icon">CSS<i class="fa fa-css3 fa-2x" aria-hidden="true"></i>
            <p>
              The stylings, colors, and designs that are present on all the web pages recently made.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="icon">Bootstrap<i class="bi bi-bootstrap h1"></i>
            <p>
              Making responsive web pages for all sizes and the most popular web framework currently used for styling rapidly web pages.
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="icon">Python<i class="bi bi-filetype-py h1"></i>
            <p>
              Python is a programming language used for many purposes, including data science, software development, and web applications
            </p>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-3">
          <div class="icon">JavaScript<i class="bi bi-filetype-js h1"></i>
            <p>
              Making websites dynamic in the back end with interactivity.
            </p>
          </div>
        </div>
      </div>
    </div>
    </section>

{% endblock %}